.jp_map{
    width: 100%;
    background-color: #EFFEFF;
}
svg{
    max-width: 500px;
    width: 100%;
    height: auto;
}
circle{
    display: inline;
    opacity: 0.5;
    fill: #ff0000;
    fill-rule: evenodd;
    transition: all 0.4s ease-in-out;
}
circle:hover{
    opacity: 0.8;
    transition: all 0.4s ease-in-out;
}